<div class= "InscriptionClient">
		<h1>Inscription Client</h1>
		<form id="myForm">
			<input onclick="getPage('Accueil','Accueil_App')" type="submit" value="retour"/><br/>
			Nom: <input type="text"  id="nomClient"/><br/>
			prenom: <input type="text" id="prenomClient"/><br/>
			Email:<input type="text" id="emailClient"/><br/>
			Mot de passe: <input type="password" id="mdpClient"/><br/>
			<input type="submit" id="sub" value="S'inscrire" onclick="RegisterClient()"/>
		</form>

        <span id="resultat"></span>
</div>
