
		<h1>Création d'une infrastructure</h1>

		<form action="">
			<input type="submit" value="Retour" onclick="getPage('Entreprise','Accueil_Entreprise')"/>
		</form>
		
		<form action="">
			Nom: <input type="text" /> 
			Pseudo: <input type="text" /> 
			Mot de passe: <input type="text" />    
		</form>
		Travaille de :
		<form action="">
		<select> 
			<option> Option1</option>
			<option> Option2</option>
			<option> Option3</option>
		</select>
		</form>
		à
		<form action="">
		<select> 
			<option> Option1</option>
			<option> Option2</option>
			<option> Option3</option>
		</select>
		</form>

		Du
			<form action="">
		<select> 
			<option> Option1</option>
			<option> Option2</option>
			<option> Option3</option>
		</select>
		</form>

		Au
		<form action="">
		<select> 
			<option> Option1</option>
			<option> Option2</option>
			<option> Option3</option>
		</select>
		</form>

		Temps d'unre réservation:
		<form action="">
		<select> 
			<option> Option1</option>
			<option> Option2</option>
			<option> Option3</option>
		</select>
		</form>
		<form action="">
			<input type="submit" value="Ajouter"/>
		</form>
