<div class="SupprInfra">
		<h1>Suppression d'une infrastructure</h1>
		<h2> Infrastructure:</h2>

		<form action="">
			<input type="submit" value="Retour" onclick="getPage('Entreprise','Accueil_Entreprise')"/>
		</form>
		
		<form action="">
			Nom Entreprise: <input type="text" id="NomEntr"/>
		</form> 
		<form action="">
		<select> 
			<option> Option1</option>
			<option> Option2</option>
			<option> Option3</option>
		</select>
		</form>
		<form action="">
			<input type="submit" value="Modifier"/>
		</form>
</div>