<div class="ConsulterReservation">
<h1>Consulter les reservations</h1>
<h2>Vos reservations:</h2>
<form action="">	
	<input type="submit" value="Retour" onclick="getPage('Infrastructure','Accueil_Infrastructure')"/>
</form>
<form action="">
<select> 
	<option> Semaine1</option>
	<option> Semaine2</option>
	<option> Semaine3</option>
</select>

<table border="1" >
    <TR>
      	<TD>identifiant
        <TD>date debut
		<TD>date fin
		<TD>descriptif
    <TR>
        <TD>H1
        <TD>05/08/2017 11h
		<TD>05/08/2017 12h
		<TD> cours de tennis

	<TR>
        <TD>H2
        <TD>05/08/2017 13h
		<TD>05/08/2017 16h
		<TD> cours d'ultimate
		
	<TR>
        <TD>H3
        <TD>06/08/2017 9h
		<TD>06/08/2017 20h
		<TD> competition tennis open

	<TR>
        <TD>H4
        <TD>07/08/2017 9h
		<TD>07/08/2017 20h
		<TD> competition tennis open
		
</table>
</div>	
