<div class="ReserverClient">
<h1>Reserver</h1>
<form action="">      
	<input type="submit" value="Retour" onclick="getPage('Client','Accueil_Client')"/>
	nom de l'entreprise: <input type="text" placeholder="nom"/> 
</form>

jour:
<form action="">
	<select> 
		<option> Option1</option>
		<option> Option2</option>
		<option> Option3</option>
	</select>
</form>
Horaire:
<form action="">
	<select> 
		<option> Option1</option>
		<option> Option2</option>
		<option> Option3</option>
	</select>
</form>

<form action="">
	<input type="checkbox"/> Je veux etre avertis si une reservation se libere     
	<input type="submit" value="valider"/>
</form>
</div>	
