<div class="ReservationClient">
<h1>Reservation</h1>
<form action="">      
	<input type="submit" value="Retour" onclick="getPage('Client','Accueil_Client')"/>
		
	
</form>
jour:
<form action="">
	<select> 
		<option> Option1</option>
		<option> Option2</option>
		<option> Option3</option>
	</select>
</form>
	Horaire:
	<form action="">
	<select> 
		<option> Option1</option>
		<option> Option2</option>
		<option> Option3</option>
	</select>
</form>

<form action="">
	<input type="checkbox"/> Je veux etre avertis si une reservation se libere     
	<input type="submit" value="valider"/>
</form>
</div>
