
		<h1>Personnalisation de votre emploi du temps</h1>
		<h2>Infrastructure</h2>
		<form action="">
			<input type="submit" value="Creer" onclick="getPage('Entreprise','Creation_Infrastructure')"/>
			<input type="submit" value="Modifier" onclick="getPage('Entreprise','Selection_Infrastructure')"/>
			<input type="submit" value="Supprimer" onclick="getPage('Entreprise','Supprimer_Infrastructure')"/>
		</form>
		<h2>Prévision:</h2>
		<form action="">
			Nom Entreprise: <input type="text" />
		</form>
		<form action="">
		<select> 
			<option> Option1</option>
			<option> Option2</option>
			<option> Option3</option>
		</select>
		</form>
