
<h1>s'abscenter</h1>
<h2> Debut:</h2>
<form action="">
	<input type="submit" value="Retour" onclick="retourAccueilInfra()"/>
</form>
<form action="">
	<input type="date" name="datedebut" placeholder="date"/>
</form> 
	à:
<form action="">
	<input type="time" name="heure" placeholder="heure"/>
</form> 
<h2> Fin:</h2>
<form action="">
	<input type="date" name="datedebut" placeholder="date"/>
</form> 
	à:
<form action="">
	<input type="time" name="heure" placeholder="heure"/>
</form> 
<form action="">
	<input type="submit" value="Modifier"/>
</form>
	
