<!doctype html>
<html>
	<head>
		<title> My-Planif </title>
		<meta charset="UTF-8"/>	
		<LINK href="style.css" rel="stylesheet" type="text/css">		
	</head>
	<body>
		<h1>supprimer</h1>
		
		<form action="">      
			<input type="submit" value="Retour"/>
		</form>

		<form action="">
		<select> 
			<option> Reservation(nom-jour-debut-fin)1</option>
			<option> Reservation(nom-jour-debut-fin)2</option>
			<option> Reservation(nom-jour-debut-fin)3</option>
		</select>
		</form>

		<form action=""> 	
			<input type="submit" value="Supprimer"/>
		</form>
	</body>

</html>
